          <%= simple_form_for [@project, Note.new] do |f| %>
        <div class="form-group col-lg-11">   
        <p><%= f.label :subject, "Subject" %>
        <%= f.text_field :subject, placeholder: "Example Project", class: "form-control", tabindex: 1, autofocus: true %></p>

        <p><%= f.text_field :body, class: "form-control" %></p>
        <p><%= f.hidden_field :author_id, :value => current_user.id %></p>
        <p><%= f.hidden_field :type, :value => "Issue" %></p>

      <div class="actions">
        <%= f.submit 'Create Issue', class: "btn btn-primary", tabindex: 4 %>
        </div>
      </div>
  <% end %>