<% content_for :nav do %>
<%= render 'layouts/nav/project' %>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
	$("#new_note_form").hide();
});
</script>
<div class="row">

	<div class="span12">
		<div class="project_clone_panel">
			<strong>Notes for <%= @project.name %> </strong>
			<span class="glyphicon glyphicon-plus-sign pull-right" style="font-size:20px;" onClick='$("#new_note_form").toggle();'>			
			</div>
<% @discussion = Note.new %>
			<section class="discussions-body" id="new_note_form" style="margin-top:-15px;margin-bottom:20px;">
				<div style="padding-bottom:10px;">
					<%= render 'discussions/form'%>
				</div>
			</section>
		</div>

		<% if !@notes.present? %>
		<p class="center">There are no notes for this project.</p>
		<% else %>

		<section class="discussions-body simpletable" style="width:97%;margin-left:25px;">
			<table class="table table-condensed table-hover">
				<tbody>
					<% @notes.each do |note| %>
					<tr>
						<td class="title first"><%= link_to note.subject, [@project, note] %></td>
						<td class="lastEditedDate"><%= note.created %></td>
						<td class="action last"><%= link_to('<span class="glyphicon glyphicon-remove">'.html_safe, project_note_path(@project, note), :data => { :confirm => "Are you sure?" }, :method => :delete) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</section>
		<% end %>
	</div>
</div>
