
<div class="form-group span5">   
  <p><%= f.label :name, "Project Name" %>
    <%= f.text_field :name, placeholder: "Example Project", class: "form-control", tabindex: 1, autofocus: true %>
  </p>

  <p><%= f.label :website, "Website" %>
    <%= f.url_field :website, class: "form-control" %>
  </p>

  <p><%= f.label :github, "Github Repository" %>
    <%= f.url_field :github, class: "form-control" %>
  </p>

  <p><%= f.label :wiki, "Wiki Site" %>
    <%= f.url_field :wiki, class: "form-control" %>
  </p>
</div>
<div class="form-group span6">   

  <p><%= f.label :tagline, "Tagline" %>
    <%= f.text_field :tagline, class: "form-control", :style => "width:100%;" %>
  </p>

  <p><%= f.label :description, "Description (optional)" %>
    <%= f.text_area :description, placeholder: "enter project description", class: "form-control", :style => "width:100%;" , rows: 7, maxlength: 700%>
  </p>

    <p><%= f.check_box :public %>
      <span class="help-inline"> Make project visible to everyone </span></p>

    </div>
