<%= form_for [@project, @discussion]  do |f| %>
        <div class="form-group span11" style="padding-bottom:10px">   
        <p><%= f.text_field :subject, placeholder: "storyboard title", class: "form-control", style: "width:100%;", tabindex: 1, autofocus: true %></p>

        <p><%= f.text_area :body, placeholder: "add a description of the new feature and how users interact with it", class: "form-control", rows: 6, style: "width:100%;" %></p>
        <p><%= f.hidden_field :author_id, :value => current_user.id %></p>
        <p><%= f.hidden_field :type, :value => @discussion.type %></p>

        <%= f.submit 'Create Storyboard', class: "btn btn-default pull-right", tabindex: 4 %>
        </div>
  <% end %>