<% content_for :nav do %>
<%= render 'layouts/nav/project' %>
<% end %>

<style type="text/css">
body{
	background-color: #eee;
}
.discussions-body {
	display:inline-block;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 0 1px 2px #aaa;
	border-collapse: collapse;
	border: 0;
	text-shadow: none;
	width:100%;
	background-color: #fff;
}

</style>

<script type="text/javascript">
$(document).ready(function() {
	$("#new_issue_form").hide();
});
</script>

<div class="row">
<% @discussion = Issue.new %>
	<div class="col-lg-12">
		<div class="project_clone_panel">
			<strong>Issues for <%= @project.name %> </strong>
			<span class="glyphicon glyphicon-plus-sign pull-right" style="font-size:20px;" onClick='$("#new_issue_form").toggle();'></span>			
		</div>
		<section class="discussions-body" id="new_issue_form" style="margin-top:-15px;margin-bottom:20px;">
			<div style="padding-bottom:10px;">
				<%= render 'discussions/form'%>
			</div>
		</section>
	</div>

	<% if !@issues.present? %>
	<p class="center"> There are no open issues for this project.</p>
	<% else %>


	<section class="discussions-body simpletable" style="width:97%;margin-left:15px;">
		<table class="table table-condensed table-hover">
			<tbody>
				<% @issues.each do |issue| %>
				<tr>
					<td><span><%= link_to '<span class="glyphicon glyphicon-arrow-up">'.html_safe, up_vote_issue_path(issue) %></span>

						<%= issue.vote_count %>
						<span><%= link_to '<span class="glyphicon glyphicon-arrow-down">'.html_safe, down_vote_issue_path(issue) %></span>
					</td> 
					<td>					<img alt="" style="font-size:13px" class="avatar s24" src="https://secure.gravatar.com/avatar/8e03c27a9b2aca99ca809828713a0e7c?s=40&amp;d=mm">
					</td>
					<td class="title first"><%= link_to issue.subject, project_issue_path(@project, issue) %>
					</td>
					<td class="lastEditedDate"><%= issue.created %></td>
					<td class="action last"><%= link_to('<span class="glyphicon glyphicon-remove">'.html_safe, project_issue_path(@project, issue), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</section>

	<% end %>


