<% content_for :nav do %>
<%= render 'layouts/nav/project' %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
	$("#new_issue_form").hide();
});
</script>

<div class="row">
	<% @discussion = Issue.new %>
	<div class="span12">
		<div class="project_clone_panel">
			<strong>Issues for <%= @project.name %> </strong>
			<span class="glyphicon glyphicon-plus-sign pull-right" style="font-size:20px;" onClick='$("#new_issue_form").toggle();'></span>			
		</div>
		<section class="discussions-body" id="new_issue_form" style="margin-top:-15px;margin-bottom:20px;">
			<div style="padding-bottom:10px;">
				<%= render 'discussions/form'%>
			</div>
		</section>
	</div>

	<% if !@issues.present? %>
	<p class="center"> There are no open issues for this project.</p>
	<% else %>


	<section class="discussions-body simpletable" style="width:97%;margin-left:22px;">
		<table class="table table-condensed table-hover">
			<tbody>
				<% @issues.each do |issue| %>
				<tr>
					<td><span><%= link_to '<span class="glyphicon glyphicon-arrow-up">'.html_safe, up_vote_discussion_path(issue) %></span>
						<strong style="margin-left:3px;"><%= issue.vote_count %></strong>
						<p style="margin-top:5px;"><%= link_to '<span class="glyphicon glyphicon-arrow-down">'.html_safe, down_vote_discussion_path(issue) %></p></td>
						<td class="title first"><%= link_to issue.subject, project_issue_path(@project, issue) %></td>
						<td class="lastEditedDate"><%= issue.comments.count %> comments</td>
						<td class="lastEditedDate" style="text-align:right;">created <%= issue.created %></td>

						<td class="action last"><%= link_to('<span class="glyphicon glyphicon-remove">'.html_safe, project_issue_path(@project, issue), :data => { :confirm => "Are you sure?" }, :method => :delete) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
</section>

<% end %>

