<% content_for :nav do %>
<%= render 'layouts/nav/project' %>
<% end %>

<div class="row">
	<h4><strong><%= @issue.subject %></strong> </h4>
	<hr>
	<p><%= simple_format(@issue.body) %> </p>

	<div class="span9">

		<div class="content_list">
	<hr>

			<% if !@comments.present? %>
			<p class="center">There are no responses to this issue. Be the first to comment.</p>
			<% else %>

		</br>
			<h4><strong><%= @issue.comments.count %> Responses</strong> </h4>
			<hr>

			<% @comments.each do |comment| %>
			<%= comment.body %> 			
			<hr>

			<% end %>
			<% end %>


			<%= simple_form_for Comment.new do |f| %>
			<div class="form-group" style="padding:15px;">   
				<p><%= f.text_area :body, class: "form-control", :rows => 6, placeholder: "Add your response here" %></p>
				<p><%= f.hidden_field :author_id, :value => current_user.id %></p>
				<p><%= f.hidden_field :discussion_id, :value => @issue.id %></p>
				<p><%= f.submit 'Add Comment', class: "btn btn-primary pull-right", tabindex: 4 %></p>
			</div>
			<% end %>
		</div>
	</div>
</div>