</style>
<nav class="main-nav">
	<div class="container">
		<ul>
			<li><%= link_to raw("<span class=\"glyphicon glyphicon-home\"></span>".html_safe), root_path() %></li>
    		<li><%= link_to "My Projects", user_users_projects_path(current_user) %></li>
    		<li><%= link_to "Active Issues <span class=\"count\">#{@user.issues.count}</span>".html_safe, all_issues_path(current_user) %></li>
    		<li><a>Timeline<span class="count">coming soon</span></a></li>
    		<li><%= link_to "Resources", resources_path %></li>
    		<li><%= link_to "Support", support_path %></li>
		</ul>
	</div>
</nav>