<% @user = current_user %>
<% @users_project = @user.users_projects.where(:project_id => @project.id).first %>

<nav class="main-nav">
	<div class="container">
		<ul>
			<li><%= link_to raw("<span class=\"glyphicon glyphicon-home\"></span>".html_safe), root_path() %></li>
            <li><%= link_to "Project", user_users_project_path(current_user, @project) %></li>
    		<li><%= link_to "Features", project_features_path(@project) %></li>
            <li><%= link_to "Issues <span class=\"count\"> #{@project.discussions.active.issues.count }</span>".html_safe, project_issues_path(@project) %></li>
            <li><%= link_to "Notes <span class=\"count\"> #{@project.discussions.active.notes.count }</span>".html_safe, project_notes_path(@project) %></li>
            <li><%= link_to "Settings", edit_user_users_project_path(@user, @users_project) %></li>
		</ul>
	</div>
</nav>