	<% content_for :nav do %>
	<%= render 'layouts/nav/dashboard' %>
	<% end %>

	<h3 style="text-align:center;margin-bottom:25px;">Welcome! Now let's get hacking ...</h3>
	<p class="center"><%= link_to "Start your own project", new_user_users_project_path(@user), :class => "btn btn-default" %></p>
</br>
<p class="light center"> Or browse to discover interesting open source projects. </p>
<hr>

<div class="span12">
	<% @projects = Project.public_viewing.all %>
	<% if @projects.blank? %>
	<h3 class="page-title center"> There are no projects here.</h3>
	<% else %>
	<ul>
		<% @projects.each do |project| %>
		<h4 class="project-title">
			<span class="access-icon">
				<% if @user.users_projects.where(:project_id => project.id).present? %>
				<% if @user.users_projects.where(:project_id => project.id).first.access_level == 0 %>
				<i class="icon-bookmark" style="margin-top:5px;"></i>
				<% else %>
				<%= link_to("<i class=\"icon-eye-open\" style=\"margin-top:5px;\"></i>".html_safe.html_safe, user_users_project_path(@user, @users_project), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-default pull-right', :style => "margin-right:10px;") %>
				<% end %>
				<% else %>
				<%= link_to "<i class=\"icon-eye-close\" style=\"margin-top:5px;\"></i>".html_safe, follow_project_path(current_user, project), :class=>"btn btn-default btn-mini pull-right" %>

				<% end %>
			</span>


			<%= link_to project.name, user_users_project_path(current_user, project), :class=>"project" %>
		</h4>
		<div>
			<p><%= project.tagline %> </p>
			<p><%= project.description %> </p>
			<div class="last-activity">
				<span class="light">Last activity:</span>
				<span class="date"><%= project.last_edited %></span>
			</div>
		</div>
		<hr>
		<% end %>
	</ul>
	<% end %>
</div>