<% content_for :nav do %>
  <%= render 'layouts/nav/dashboard' %>
<% end %>

<h3 class="page-title"> My Projects </h3>
<p class="light"> All projects you have access to and are watching are listed here. </p>
<hr>

<div class="col-lg-3">
    <ul class="nav nav-pills nav-stacked">
      <li><a> ALL
          <span class="pull-right"> 0 <span></a></li>
      <li><a> Owner
          <span class="pull-right"> 0 <span></a></li>
      <li><a> Member
          <span class="pull-right"> 0 <span></a></li>    
      <li><a> Watching
          <span class="pull-right"> 0 <span></a></li>    
    </ul>
    <% if true %> <!-- @groups.present? -->
    <% end %>
</div>

<div class="col-lg-9">
	<% if @projects.blank? %>
	    <h3 class="page-title center"> There are no projects here.</h3>
	<% else %>
		<ul>
		<% @projects.each do |project| %>
				<h4 class="project-title">
					<span class="access-icon">
					<% if project.public %>
					<i class="icon-globe" style="margin-top:5px;"></i>
					<% else %>
					<i class="icon-lock" style="margin-top:5px;"></i>
					<% end %>
					</span>
					
					<%= link_to project.name, project_path(project), :class=>"project" %>
					<%= project.path %></a>
				</h4>
				<p><%= project.tagline %> </p>
				<div class="last-activity">
				<span class="light">Last activity:</span>
				<span class="date">about 17 hours ago</span>
				</div>
			<hr>
		<% end %>
	</ul>
	<% end %>

	<%= link_to "Create Project", new_project_path, :class => "btn btn-primary pull-right" %>
</div>