<% content_for :nav do %>
  <%= render 'layouts/nav/public' %>
<% end %>

<% if true %>
<h3 class="page-title"> Search All Projects </h3>
<p class="light"> </p>
<hr>

<div class="span9">
	<% if @projects.blank? %>
	    <h3 class="page-title center"> There are no projects here.</h3>
	<% else %>
		<ul>
		<% @projects.each do |project| %>
				<h4 class="project-title">
					<span class="access-icon">
					<% if project.public %>
					<i class="icon-globe" style="margin-top:5px;"></i>
					<% else %>
					<i class="icon-lock" style="margin-top:5px;"></i>
					<% end %>
					</span>
					
					<%= link_to project.name, project_path(project), :class=>"project" %>
				</h4>
				<p><%= project.tagline %> </p>
				<div class="last-activity">
				<span class="light">Last activity:</span>
				<span class="date"><%= project.last_edited %></span>
				</div>
			<hr>
		<% end %>
	</ul>
	<% end %>
</div>

<!-- <div class="span3">
    <ul class="nav nav-pills nav-stacked">
      <li><a> ALL
          <span class="pull-right"> <%= @projects.count %> <span></a></li>
      <li><a> Owner
          <span class="pull-right"> <%= @projects.count %> <span></a></li>
      <li><a> Member
          <span class="pull-right"> <%= @projects.count %> <span></a></li>    
      <li><a> Watching
          <span class="pull-right"> <%= @projects.count %> <span></a></li>    
    </ul>
</div> -->
<% else %>

<style type="text/css">
body{
	background-color: #eee;
}

</style>
<div class='span12'>
	    <h3 class="page-title center"> Browse all our public projects here</h3>

<%  Project.public_viewing.each do |project| %>

<div class='span4' style="margin:0px;">
<div class='card' style="background: no-repeat;background-size:cover;">

<div class='banner'>
    <div class='mainline'>
    	<%= link_to project.name, project_path(project) %>
    </div>
    <div class='tagline'> 
        <%= project.tagline %>, 
        	<a href="<%= project.website %>" target="_blank">Website</a>

        <span class='more-details'></span>
        </p>
    </div>
</div>
</div>
</div>
<% end %>
</div>
<% end %>

<style type="text/css">
.card {
height: 245px;
width:285px;
margin: 0px 0px 25px 0px;
overflow: hidden;
border: none;
position: relative;
-webkit-box-shadow: 0px 1px 3px #424641;
-moz-box-shadow: 0px 1px 3px #424641;
box-shadow: 0px 1px 3px #424641;
}

.card .banner {
opacity: 0.95;
filter: alpha(opacity=95);
height: 58px;
background: #eee;
width: 100%;
position: absolute;
bottom: 0;
}

.card .banner .mainline {
line-height: 7px;
padding: 10px 0px 8px 8px;
font-weight: 700;
font-family: "proxima-nova","Helvetica Neue","Helvetica","Arial","sans-serif";
font-size: 16px;
color: #424641;
text-shadow: none;
opacity: none;
}

.card .banner .tagline {
color: #B4B8B7;
font-size: 13px;
line-height: 13px;
padding: 2px 0px 0px 8px;
}

.card .banner .tagline  span.more-details {
float: right;
margin: 0px 10px 0px;
}
</style>