<% content_for :nav do %>
<%= render 'layouts/nav/public' %>
<% end %>

<% if @project.public %>
<div class="row">
	<div class="span9">
					<p> <%= @project.description %></p>
	</div>
	<div class="span3">
		<div class="light-well">
			<h3 class="page-title"> <%= @project.name %></h3>
			<p class="light"> <%= @project.tagline %></p>
			<hr>
			<!-- 		<p><span class="light"> Repo size </span> 0.5 MB</p> -->			
			<p><span class="light"> Created on </span> <%= @project.created_at.to_time.strftime('%b %d, %Y')%></p>
			<!--
 			<p class="center"> view all members</p>
			<hr>
			<p><a> 21 commits </a></p>
			<p><a> 1 branches </a></p>
			<p><a> 3 forks </a></p>
		-->
		<hr>
		<p><span class="light"> <%= link_to "Website", @project.website, :target => "_blank" %> </span> </p>
		<p><span class="light"> <%= link_to "Wiki", @project.wiki, :target => "_blank" %> </span> </p>
	</div>
</div>
</div>
<% end %>

<style type="text/css">

h1,
h2,
h3 {
  margin: 1em 0 .5em;
  color: #16161d;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "adobe-garamond-pro";
  font-size: 2.9em;
  line-height: 1.2em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-family: "adobe-garamond-pro";
  font-size: 28px;
  line-height: 38px;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-family: "proxima-nova";
  font-size: 18px;
  line-height: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
}
hr {
  border-style: none;
  border-width: 0;
  background-color: rgba(54, 54, 54, .5);
  height: 1px;
}

p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

/*body {
color: #363636;
background-color: #171717;
font-family: "PT Serif", Georgia, serif !important;
font-size: 14px !important;
font-family: "adobe-garamond-pro" !important;
font-size: 20px !important;
line-height: 1.6em !important;
letter-spacing: 0px !important;
font-weight: 400 !important;
font-style: normal !important;
}*/
</style>