<% content_for :nav do %>
  <%= render 'layouts/nav/public' %>
<% end %>

<div class="row">
	
	<div class="col-lg-3">
		<div class="light-well">
			<h3 class="page-title"> <%= @project.name %></h3>
			<p class="light"> <%= @project.tagline %></p>
			<hr>
<!-- 		<p><span class="light"> Repo size </span> 0.5 MB</p> -->			
			<p><span class="light"> Created on </span> <%= @project.created_at.to_time.strftime('%b %d, %Y')%></p>
			<!--
 			<p class="center"> view all members</p>
			<hr>
			<p><a> 21 commits </a></p>
			<p><a> 1 branches </a></p>
			<p><a> 3 forks </a></p>
			-->
			<hr>
			<p><span class="light"> <%= link_to "Website" @project.website, :target => "_blank" %> </span> </p>
			<p><span class="light"> <%= link_to "Wiki" @project.wiki, :target => "_blank" %> </span> </p>
		</div>
	</div>
</div>