<% if @project.present? %>
<% content_for :nav do %>
<%= render 'layouts/nav/project' %>
<% end %>

<h3 style="text-align:center;margin-bottom:25px;">Your files are presently stored off-site:</h3>
<p style = "text-align:center;"><%= link_to "Visit them on GitHub", @project.github, :target => "_blank", :class => "btn btn-default" %></p>

<style type="text/css">
body{
	background-color: #eee;
}
.discussions-body {
	display:inline-block;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 0 1px 2px #aaa;
	border-collapse: collapse;
	border: 0;
	text-shadow: none;
	width:100%;
	background-color: #fff;
}

</style>

<script type="text/javascript">
$(document).ready(function() {
	$("#new_feature_form").hide();
});
</script>

<div class="row">
	<% @discussion = Feature.new %>
	<div class="col-lg-12">
		<div class="project_clone_panel">
			<strong>Storyboard for <%= @project.name %> </strong>
			<span class="glyphicon glyphicon-plus-sign pull-right" style="font-size:20px;" onClick='$("#new_feature_form").toggle();'></span>			
		</div>
		<section class="discussions-body" id="new_feature_form" style="margin-top:-15px;margin-bottom:20px;">
			<div style="padding-bottom:10px;">
				<%= render 'discussions/form'%>
			</div>
		</section>
	</div>

	<% if !@storyboards.present? %>
	<p class="center"> There are no active storyboards for this project.</p>
	<% else %>


	<% @storyboards.each do |storyboard| %>
	<section class="discussions-body" style="position:relative;margin-bottom:30px;padding:10px">
		<span style ="position:absolute; margin-left:-80px;">
		<%= link_to '<span class="glyphicon glyphicon-arrow-up">'.html_safe, up_vote_discussion_path(storyboard) %></br>
		<strong style="margin-left:3px;margin-top:-5px;"><%= storyboard.vote_count %></strong>
		<p style="margin-top:5px;"><%= link_to '<span class="glyphicon glyphicon-arrow-down">'.html_safe, down_vote_discussion_path(storyboard) %></p>
	</span>
		<img alt="" style="margin: 6px;" class="avatar" src="https://secure.gravatar.com/avatar/8e03c27a9b2aca99ca809828713a0e7c?s=40&amp;d=mm">
		<span>
		<%= link_to storyboard.subject, project_feature_path(@project, storyboard) %> </span>
		<span class="action last pull-right"><%= link_to('<span class="glyphicon glyphicon-remove">'.html_safe, project_feature_path(@project, storyboard), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %></span>
			<span class="lastEditedDate pull-right" style="width:110px;"><%= storyboard.created %></span>
	</br>
	<div><%= storyboard.body %>
	</div>

	</section>
	<% end %>

	<% end %>










	<% else %>
	<% content_for :nav do %>
	<%= render 'layouts/nav/public' %>
	<% end %>

	<% end %>

