<% content_for :nav do %>
<%= render 'layouts/nav/project' %>
<% end %>

<style type="text/css">
body{
	background-color: #eee;
}

.feature-body{
	position:relative;
	margin-bottom:30px;
	padding:10px;
	margin-left:20px;
	width:96%;
}

section{
	margin-left: 20px;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
	$("#new_feature_form").hide();
	$("#features").hide();
	$("#issues").hide();
});

function navigateContent(url){
	var id = url.hash.substr(1);
	$("#content-nav").find('li').each(function(){
		$(this).removeClass("active");
	});
	$("#comments").hide();
	$("#features").hide();
	$("#issues").hide();
	$("#" + id).show();
	$("#" + id + "_link").addClass("active");

}

function toggle_edit(id){
	alert(id);
	if ($("#"+id)[0].getAttribute("contentEditable") == "false"){

		$("#"+id)[0].setAttribute("contentEditable", true);
	}
	else{
		$("#"+id)[0].setAttribute("contentEditable", false);
		$.ajax({
			type: 'PUT',
			url:  '/discussions/'+ id + '/edit',
			data: "Here",
			dataType: "JSON",
			success: function(data) {
				console.log(data);
			}
		});
	}
};

</script>

<div class="row">
	<% @discussion = Feature.new %>
	<div class="span12">
		<div class="project_clone_panel">
			<strong><%= @storyboard.subject %> </strong>
			<span class="glyphicon glyphicon-plus-sign pull-right" style="font-size:20px;" onClick='$("#new_feature_form").toggle();'></span>			
		</div>
		<section class="discussions-body" id="new_feature_form" style="margin-top:-15px;margin-bottom:20px;">
			<div style="padding-bottom:10px;">
				<%= render 'discussions/form'%>
			</div>
		</section>
	</div>

	<section id="feature-body" class="discussions-body" style="padding:10px;margin-left:20px; width:96%;margin-bottom:40px;">
		<div class="row">
			<div id="text-body" class="span10"><%= simple_format(@storyboard.body)%></div>
			<div class="span1" style="margin-left:80px;">		<span class="action last pull-right"><%= link_to('<span class="glyphicon glyphicon-remove">'.html_safe, project_feature_path(@project, @storyboard), :data => { :confirm => "Are you sure?" }, :method => :delete) %></span>
				<span class="pull-right" style ="margin-right:10px;"> <%= link_to '<span class="glyphicon glyphicon-pencil">'.html_safe, "", :id=>"link", :remote => true, :onClick => "toggle_edit(this.parentNode.parentNode.previousSibling.id)", :style=>"color:#888" %>

				</div>
			</div>
			<span class="lastEditedDate pull-right" style="margin-top:-15px;"><%= @storyboard.created %></span>

		</section>

		<section>
			<% if @storyboard.skill_list.present? %>
			<p><strong>Requires skills: </strong> <%= @storyboard.skill_list %></p>
			<% end %>

		</br>
		<strong> Related Content </strong>
		<ul id="content-nav" class="nav nav-tabs">
			<li id="comments_link" class="active"><a href="#comments" onClick="navigateContent(this)">Comments</a></li>
			<li id="features_link"><a href="#features" onClick="navigateContent(this)">Features</a></li>
			<li id="issues_link"><a href="#issues" onClick="navigateContent(this)">Issues</a></li>
		</ul>
	</section>

	<section id="comments">
		<% if !@storyboard.related_content("Comment").present? %>
			<p class="center">There are no responses to this issue. Be the first to comment.</p>
			<% end %>

		</br>

			<%= simple_form_for [@project, Discussion.new], :method => "post" do |f| %>
			<div class="form-group" style="padding:15px;">   
				<p><%= f.text_area :body, class: "form-control", :style => "width:100%;", :rows => 6, placeholder: "Add your response here" %></p>
				<p><%= f.hidden_field :author_id, :value => current_user.id %></p>
				<p><%= f.hidden_field :type, :value => "Comment"%></p>
				<p><%= hidden_field_tag "related_to", @storyboard.id %></p>
				<p><%= f.submit 'Add Comment', class: "btn btn-default pull-right", tabindex: 4 %></p>
			</div>
			<% end %>

			<h4><strong><%= @storyboard.related_content("Comment").count %> Responses</strong> </h4>
			<hr>
		<% @storyboard.related_content("Comment").each do |comment| %>
		<div style="position:relative;margin-bottom:30px;padding:10px;margin-left:20px;width:95%;">
			<span style ="position:absolute; margin-left:-28px;">
				<%= link_to '<span class="glyphicon glyphicon-arrow-up">'.html_safe, up_vote_discussion_path(comment) %></br>
				<strong style="margin-left:3px;margin-top:-5px;"><%= comment.vote_count %></strong>
				<p style="margin-top:5px;"><%= link_to '<span class="glyphicon glyphicon-arrow-down">'.html_safe, down_vote_discussion_path(comment) %></p>
			</span>
<!-- 		<img alt="" style="margin: 6px;" class="avatar" src="https://secure.gravatar.com/avatar/8e03c27a9b2aca99ca809828713a0e7c?s=40&amp;d=mm">
-->	
<span class="action last pull-right"><%= link_to('<span class="glyphicon glyphicon-remove">'.html_safe, project_feature_path(@project, comment), :data => { :confirm => "Are you sure?" }, :method => :delete) %></span>
<span class="lastEditedDate pull-right" style="width:110px;"><%= comment.created %></span>

</br>
<div><%= simple_format(comment.body)%></div>
<span class="pull-right" style ="position:absolute;right:10px;bottom:10px;"><%= link_to '<span class="glyphicon glyphicon-pencil">'.html_safe, edit_project_discussion_path(@project, comment) %>
</span>
</div>
<hr>
<% end %>
</section>
<section id="features">

	<% if !@storyboard.related_content("Feature").present? %>
	There are no related features.
	<% end %>

	<section class="discussions-body simpletable" style="width:97%;margin-left:15px;">
		<table class="table table-condensed table-hover">
			<tbody>
				<% @storyboard.related_content("Feature").each do |feature| %>
				<tr>
					<td class="title first"><%= link_to feature.subject, [@project, feature] %></td>
					<td class="lastEditedDate"><%= feature.created %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</section>

</section>
<section id="issues">

	<% if !@storyboard.related_content("Issue").present? %>
	There are no related issues.
	<% end %>

	<section class="discussions-body simpletable" style="width:97%;margin-left:15px;">
		<table class="table table-condensed table-hover">
			<tbody>
				<% @storyboard.related_content("Issue").each do |issue| %>
				<tr>
					<td class="title first"><%= link_to issue.subject, [@project, issue] %></td>
					<td class="lastEditedDate"><%= issue.created %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</section>
</section>
