<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Githacker" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Githacker" %>">
  <%= stylesheet_link_tag "application_layout", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<style type="text/css">
/* NAVIGATION */
.navbar {
position: fixed;
z-index: 9998;
top: 0;
width: 100%;
opacity: 1;
background: rgba(255,255,255,0.9);
padding-top: 20px;
  height: 73px;
}

.navbar .logo {
background-image: url("http://www.littlelines.com.global.prod.fastly.net/images/elements-s76abe03715-bae0ef92.png");
background-position: 0 -541px;
background-repeat: no-repeat;
display: block;
height: 52px;
width: 157px;
float: left;
max-width: 100%;
margin-left:100px;
}
</style>

<body class="<%= controller_name %>_<%= action_name %>">
  <div class="navbar">
        <%= render 'layouts/navigation' %>
  </div>

  <%= yield(:nav) %> 

  <div id="main" role="main">
    <% if current_page?(root_url) && !user_signed_in? %>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <% else %>

    <div class="container">
      <div class="content" style="margin-top:100px;">
       <div class="row">
        <div class="span12">
         <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div> <!--! end of .container -->

  <% end %>
    <!--   <% if user_signed_in? %>
    <% end %> -->

  </div> <!--! end of #main -->
</body>
</html>

